{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

<section class="mt-8">
    <div class="2xl:container 2xl:mx-auto lg:py-16 lg:px-20 md:py-12 md:px-6 py-9 px-4">
        <div class="flex flex-col lg:flex-row justify-between gap-8">
            <div class="w-full lg:w-5/12 flex flex-col justify-center">
                <h1 class="text-3xl lg:text-4xl font-bold leading-9 text-gray-800 pb-4">About Us
                </h1>
                <p class="font-normal text-base leading-6 text-gray-600 ">Capture the magic of Disney with our beautiful figurines and teaware. Luxury pieces for the true fan.</p>
            </div>
            <div class="w-full lg:w-8/12">
                <img class="w-full h-full" src="https://i.ibb.co/FHmFmPr/1629-20230419112218.png"/>
            </div>
        </div>

        <div class="flex lg:flex-row flex-col justify-between gap-8 pt-12">
            <div class="w-full lg:w-5/12 flex flex-col justify-center">
                <h1 class="text-3xl lg:text-4xl font-bold leading-9 text-gray-800 pb-4">Our Story
                </h1>
                <p class="font-normal text-base leading-6 text-gray-600 ">Established in 2011, The English Ladies Company is born out of a long-standing passion for creating high quality bone china figurines, tea sets and giftware for all occasions.</p>
                <br><p class="font-normal text-base leading-6 text-gray-600 ">With a combined commercial and creative background in prestige ceramics of over 65 years, owners Malini Pashley and Wayne Nutbeen wanted to create a company that offered people the opportunity to give a gift like no other; a gift which symbolises not only timeless beauty but also timeless sentiment and meaning. Be it a luxury china figurine or china tea set, the gift of unique ceramics is the perfect way to show someone a continuous and unchanging message of love and affection. And this is what Mal and Wayne want to inject into every piece of their handcrafted range of bone china gifts.</p></br>
            </div>
            <div class="w-full lg:w-8/12 lg:pt-8">
                <div class="grid md:grid-cols-4 sm:grid-cols-2 grid-cols-1 lg:gap-4 shadow-lg rounded-md">
                    <div class="p-4 pb-6 flex justify-center flex-col items-center">
                        <img class="md:block hidden" src="https://i.ibb.co/M88CV9k/S-21176328.png"
                            alt="Alexa featured Image" />
                        <img class="md:hidden block" src="https://i.ibb.co/M88CV9k/S-21176328.png"/>
                    </div>
                    <div class="p-4 pb-6 flex justify-center flex-col items-center">
                        <img class="md:block hidden" src="https://i.ibb.co/q5TGRGV/S-21176329.png"
                            alt="Olivia featured Image" />
                        <img class="md:hidden block" src="https://i.ibb.co/q5TGRGV/S-21176329.png"/>
                    </div>
                    <div class="p-4 pb-6 flex justify-center flex-col items-center">
                        <img class="md:block hidden" src="https://i.ibb.co/JKfSDQC/S-21176333.png"
                            alt="Liam featued Image" />
                        <img class="md:hidden block" src="https://i.ibb.co/JKfSDQC/S-21176333.png"/>
                    </div>
                    <div class="p-4 pb-6 flex justify-center flex-col items-center">
                        <img class="md:block hidden" src="https://i.ibb.co/rZFzVmF/S-21176331.png"
                            alt="Test featured image" />
                        <img class="md:hidden block" src="https://i.ibb.co/rZFzVmF/S-21176331.png"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock content %}