{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<div class="row">
		<div class="col-lg-12">
			<div class="box-element">

				<a  class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Continue Shopping</a>

				<br>
				<br>

			</div>

			<br>
			<div class="box-element">
				<div class="cart-row">
					<div style="flex:1"><strong>Order</strong></div>
					<div style="flex:2"><strong>transaction</strong></div>
					<div style="flex:1"><strong>Date</strong></div>
					<div style="flex:1"><strong>Refund</strong></div>
				</div>
				{% for order in orders %}
				<div class="cart-row">
					<div style="flex:1">{{order.id}}</div>
					<div style="flex:2"><p>{{order.transaction_id}}</p></div>
					<div style="flex:1"><p>{{order.date_order}}</p></div>
					<div style="flex:1"><button type="button" class="text-dark bg-yellow-400 hover:bg-yellow-500 focus:outline-none focus:ring-4 focus:ring-yellow-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:focus:ring-yellow-900" onclick="refund({{order.id}})">Refund</button></div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<script>
		function refund(id){
			window.location.href = '/refund?order_id='+id;
		}
	</script>
{% endblock content %}