{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

<head>
    <style>
        .bgLanding {
            background-image: url("https://i.ibb.co/3SjD2gh/S-4186122.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .bgcoming{
            background-image: url("https://i.ibb.co/JxW5xF8/S-4186124.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    </style>
    <title>Home</title>
</head>
<main>
    <section id="home" class="overflow-hidden">
        <div class="relative overflow-hidden w-full h-screen bgLanding">


            <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed js-show-on-scroll"
                style="background-color: rgba(0, 0, 0, 0.3)">
                <div class="flex justify-center items-center h-full">
                    <div class="text-center text-white px-8 md:px-12 lg:w-1/2 md:w-2/3 sm:w-2/3 xs:w-2/3">
                        <h1 class="md:text-4xl text-3xl font-bold tracking-tight mb-12">
                            JAAN & CHARM
                            <!-- OLDIES <br /><span>for your business</span> -->
                        </h1>
                        <p class="xl:text-xl md:text-base sm:text-sm xs:text-xs font-medium tracking-tight mb-12">
                            เรามุ่งหวังที่จะทำให้ลูกค้าของเรามีประสบการณ์การซื้อสินค้าที่ดีที่สุด ด้วยการให้บริการลูกค้าที่เป็นเอกลักษณ์และมีคุณภาพสูงสินค้าของเราเป็นสินค้าที่มีคุณภาพสูงราคาที่เหมาะสมกับคุณภาพนั้น
                        </p>
                        <a class="inline-block px-7 py-3 mr-1.5 border-2 border-white text-white font-medium text-sm leading-snug uppercase rounded-full shadow-md hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out"
                            data-mdb-ripple="true" data-mdb-ripple-color="light" role="button" href="https://instagram.com/jaanandcharm.store?igshid=YmMyMTA2M2Y=" target="_blank">
                            ติดต่อกับพวกเรา
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-white">
        <div class="flex justify-center h-full w-full items-center">
            <div class="flex flex-col justify-center  items-center text-black p-10">
                <h1 class="text-2xl">
                    สินค้าที่เราขาย
                </h1>
                <div class="text-base w-1/2 pt-5 text-center text-gray-500">
                    อุปกรณ์สำหรับบริโภคอาหารและเครื่องดื่มที่สำคัญในการจัดเตรียมอาหารและงานเลี้ยงอาหาร เมื่อคุณเลือกชาม จาน ถ้วยน้ำชา กาน้ำชา และ ช้อนที่ตรงกับการจัดเตรียมอาหารและงานเลี้ยงของคุณ 
                    มันจะช่วยเพิ่มความเป็นรูปธรรมของการรับประทานอาหาร นอกจากนี้ ชิ้นส่วนเหล่านี้ยังเป็นเครื่องหมายของความสุขและความอบอุ่นในครอบครัว 
                    ดังนั้น เลือกชิ้นส่วนเหล่านี้ต้องให้ความสำคัญในการเตรียมตัวก่อนการจัดเลี้ยงอาหารของคุณ
                </div>
            </div>
        </div>

        <div class="flex items-center justify-center w-full h-full py-24 sm:py-8 px-4 ">
            <div class="w-full relative flex items-center justify-center">
                <button aria-label="slide backward"
                    class="absolute z-30 left-0 ml-10 focus:outline-none focus:bg-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 cursor-pointer"
                    id="prev">
                    <svg class="dark:text-gray-900" width="8" height="14" viewBox="0 0 8 14" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 1L1 7L7 13" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </button>
                <div class="w-full h-full mx-auto overflow-x-hidden overflow-y-hidden">
                    <div id="slider"
                        class="h-full flex lg:gap-8 md:gap-6 gap-14 items-center justify-start transition ease-out duration-700">
                        <div class="flex flex-shrink-0 relative w-full sm:w-auto">
                            <img src="https://i.ibb.co/VM7J36b/Frozen-2-Sisters-Forever-Plate-scaled.jpg" 
                                alt="dish from unsplash"
                                class="object-cover object-center w-full" />
                            <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
                                <div class="flex h-full items-end pb-6">
                                    <h3
                                        class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900">
                                        Dish</h3>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-shrink-0 relative w-full sm:w-auto">
                            <img src="https://i.ibb.co/kBhBj2s/Mickey-and-Minnie-Spring-Fine-China-Cup-and-Saucer.png" 
                                alt="teacup from unsplash"
                                class="object-cover object-center w-full" />
                            <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
                                <div class="flex h-full items-end pb-6">
                                    <h3
                                        class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900">
                                        glass</h3>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-shrink-0 relative w-full sm:w-auto">
                            <img src="https://i.ibb.co/7YFh2J2/Stitch-Tea-for-One.jpg" 
                                alt="Teapot from unsplash"
                                class="object-cover object-center w-full" />
                            <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
                                <div class="flex h-full items-end pb-6">
                                    <h3
                                        class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900">
                                        Teapot</h3>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-shrink-0 relative w-full sm:w-auto">
                            <img src="https://i.ibb.co/FVMZvNd/Belle-Wedding-Spoon.jpg" 
                                alt="spoon from unsplash"
                                class="object-cover object-center w-full" />
                            <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
                                <div class="flex h-full items-end pb-6">
                                    <h3
                                        class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900">
                                        Spoon</h3>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <button aria-label="slide forward"
                    class="absolute z-30 right-0 mr-10 focus:outline-none focus:bg-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400"
                    id="next">
                    <svg class="dark:text-gray-900" width="8" height="14" viewBox="0 0 8 14" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L7 7L1 13" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </button>
            </div>
        </div>
    </section>
    <section>
        <div class="flex flex-col justify-center h-full w-full items-center">
            <div class="flex flex-col justify-center  items-center text-black p-10">
                <h1 class="text-2xl">
                    ประโยชน์ในการใช้สินค้าของพวกเรา
                </h1>
                <div class="text-base  w-1/2 text-center mt-5 text-gray-500">
                    เครื่องใช้งานที่จำเป็นในห้องครัว เพราะมีประโยชน์มากมายในการใช้งานทั้งในเรื่องของการเตรียมอาหารและการรับประทานอาหาร 
                    ซึ่งจะมีประโยชน์
                </div>
            </div>
            <div class="flex items-center flex-wrap flex-col-reverse md:flex-row text-center mb-20 js-show-on-scroll">
                <div class="w-full md:w-1/2 md:p-8">
                    <h4 class="md:text-2xl text-lg font-bold mb-3">
                        การเตรียมอาหารที่ใช้ในการกิน
                    </h4>
                    <p class="mb-8 text-gray-500 text-left">
                        ช่วยให้การเตรียมอาหารสะดวกขึ้นด้วยการใช้งานที่ง่ายและสะดวกสบาย สามารถนำอาหารออกจากเตาไมโครเวฟ หรือจานที่ใช้ในการทอดอาหารได้โดยไม่ต้องใช้ช้อนใหญ่เพิ่มเติม เนื่องจากช้อนที่มีขนาดใหญ่และตัวกลม จะทำให้การจัดอาหารในจานไม่เป็นระเบียบ
                    </p>
                </div>
                <!--image-->
                <div class="flex w-full md:w-1/2 mb-20 md:mb-0 justify-center">
                    <img
                    src="https://i.ibb.co/4Zr0Y2w/S-4186117.jpg"
                    class="rounded-lg w-3/4"/>
                    <!-- <video autoplay loop muted playsinline class="rounded-lg">
                        <source src="video/2.mp4" type="video/mp4" />
                    </video> -->
                </div>
            </div>
            <div class="flex items-center flex-wrap flex-col-reverse md:flex-row text-center mb-20 js-show-on-scroll">
                <div class="w-full md:w-1/2 md:p-8">
                    <h4 class="md:text-2xl text-lg font-bold mb-3">
                        การทำความสะอาดเพื่อใช้ในการกินครั้งถัดไป
                    </h4>
                    <p class="mb-8 text-gray-500 text-left">
                        มีการออกแบบเพื่อทำความสะอาดง่าย โดยไม่ต้องใช้เวลาหรือแรงกล้าในการทำความสะอาด นอกจากนี้ การใช้งานชาม ของตกแต่ง จาน ถ้วยน้ำชา กาน้ำชา และ ช้อน ยังช่วยลดปริมาณขยะที่เกิดขึ้นจากการใช้ช้อนพลาสติกหรือกระดาษในการรับประทานอาหาร
                    </p>
                </div>
                <!--image-->
                <div class="flex w-full md:w-1/2 mb-20 md:mb-0 justify-center">
                    <img
                    src="https://i.ibb.co/TwZypXF/S-4186118.jpg"
                    class="rounded-lg w-3/4"/>
                    <!-- <video autoplay loop muted playsinline class="rounded-lg">
                        <source src="video/2.mp4" type="video/mp4" />
                    </video> -->
                </div>
            </div>
        </div>

    </section>

    <section id="problem" class="w-full bg-white">
        <div class="flex justify-center js-show-on-scroll">
            <div class="flex-col justify-items-center text-center py-16 md:w-1/2 w-11/12">
                <h1 class="md:text-xl text-lg font-bold text-black mb-8">
                    บริการของพวกเรา
                </h1>
                <p class="md:text-base text-ms text-gray-400 motion-safe:animate-fadeIn">
                    การตอบสนองต่อลูกค้าอย่างรวดเร็วและมีความสุภาพ แม้ว่าลูกค้าจะมีข้อความหรือคำถามที่ไม่ใช่เรื่องง่าย<br/>
                    การบริการที่ดีต้องมีการให้ข้อมูลเพียงพอและถูกต้องเกี่ยวกับสินค้าหรือบริการที่ลูกค้าต้องการ ลูกค้าได้รับคำแนะนำและคำแนะนำที่เป็นประโยชน์ในการใช้งานสินค้าหรือบริการนั้นๆ <br/>
                    การจัดการเรื่องการสั่งซื้อและการจัดส่งสินค้าหรือบริการอย่างมีประสิทธิภาพ ลูกค้าจะได้รับสินค้าหรือบริการในเวลาที่กำหนดและอย่างมีคุณภาพ
                </p>
            </div>
        </div>
        

            
            
    </section>

    <section class="overflow-hidden bgcoming">
        <div class="relative overflow-hidden background-city h-screen">
            <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed js-show-on-scroll"
                style="background-color: rgba(0, 0, 0, 0.3)">
                <!-- <div class="flex justify-center items-center h-full">
                    <div class="text-center text-white px-8 md:px-12 lg:w-1/2 md:w-2/3 sm:w-2/3 xs:w-2/3">
                        <h1 class="md:text-4xl text-3xl font-bold tracking-tight mb-12">
                            Coming soon
                        </h1>
                        <p class="xl:text-xl md:text-base sm:text-sm xs:text-xs font-medium tracking-tight mb-12">
                            We connect you with premier medical and healthcare facilities in
                            Thailand. Discover, compare, and book seamlessly and confidently.
                            Stay tuned for our launch and join our mission to revolutionize
                            your medical and healthcare experience!
                        </p>
                    </div>
                </div> -->
            </div>
        </div>

</main>

<script>

    let defaultTransform = 0;
    function goNext() {
        defaultTransform = defaultTransform - 398;
        var slider = document.getElementById("slider");
        if (Math.abs(defaultTransform) >= slider.scrollWidth / 1.7) defaultTransform = 0;
        slider.style.transform = "translateX(" + defaultTransform + "px)";
    }
    next.addEventListener("click", goNext);
    function goPrev() {
        var slider = document.getElementById("slider");
        if (Math.abs(defaultTransform) === 0) defaultTransform = 0;
        else defaultTransform = defaultTransform + 398;
        slider.style.transform = "translateX(" + defaultTransform + "px)";
    }
    prev.addEventListener("click", goPrev);

</script>
{% endblock content %}